body{
    margin: auto;
    /* background: greenyellow; */
    width: 80%;
}
section #left{
    float: left;
    width: 30%;
    background: whitesmoke;
}
section #right{
    float: right;
    width: 70%;
    /* background: wheat */
    /* text-align:center; */
}
section #seach{
    width: 70%;
    height: 30px;
}
section #right p{
    margin-left: 10px;
}
section #right img {
    width: 100%;
}
.subport button{
    background: rgb(103, 103, 251);
    width: 48.5%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    
}
.nav{
    display: flex;
  
    
    
}
.nav ul li{
    margin-top: 30px;
}
.nav ul li a{
    
    color: black;
    text-decoration: none;
}
